body{
    margin: 0;
    padding:0;
}
/* .sidebar, .content{
    background: #333;
    color: #fff;
    height: 500px;
    border-radius: 4px;
    border:1px solid #777;
} */
.sidebar{
    width: 150px;
    left:0;
    top:0;
    position: absolute;
}
.content{
    width: 1000px;
    margin-left:160px
}
.content-footer-left{
    float: left;
    position: relative;
    width:50%;
    top:0;
    left:0
}
.content-footer-right{
    float: left;
    position: relative;
    width:50%;
    top:0;
    /* left:50% */
}
.pick{
    background:green;
    /* height:50px */
}
.ban{
    background: red;
    /* height:50px */
}
#hero_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
    background-color: white;
}
.hero_list_highlight{
    background-color: yellow;
    border-style: solid;
}
#htest{
    display: flex;
    margin-bottom: 20px;
    margin-top: 0;
    height: auto;
    /* overflow: hidden; */
}
span.clear { clear: left; display: block; }
#hero_list li {
    margin: 3px 3px 3px 3px;
    padding: 1px; float: left;
    width: 40px; height: 40px;
    font-size: 4em;
    text-align: center;
}
#sorters, #notused { list-style-type: none; margin: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 143px;}
#sorters li, #notused li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }

.graphs{
    width:250px;
}

.pickban{
    /* list-style-type: none;
    margin: 0; */
    /* float: left; */
    /* margin-right: 0px;
    background: #eee; */
    padding: 0;
    height:40px;
    /* background: darkturquoise; */
    /* width: 143px;
    text-align: center; */
}

.pickban li {
    /* 
    padding: 1px;
    width: 40px; height: 40px;
    font-size: 4em; */
    display: inline;
    /* width: 200; */
    /* float: left; */
    /* padding: 40px; */
    text-align: center;
    padding: 3px;
    margin: 3px 3px 3px 0;
}

.hero-highlight{
    border: 1px solid red;
    width: 40px;
    height: 40px;
    background-color: lightblue;
}

.content-footer-left, .content-footer-right{
    /* column-count: 2;
    column-gap: 5px; */
    display: flex;
}