body{
    margin: 0;
    padding:0;
    background: var(--primary);
}
/*Colour setups, might be a better way?*/
:root {
    --primary: #000000;
    --secondary: #181818;
    --tertiary: #303030;
    --quaternary: #404040;
    --quinary: #505050;
}
/* .sidebar, .content{
    background: #333;
    color: #fff;
    height: 500px;
    border-radius: 4px;
    border:1px solid #777;
} */
.sidebar{
    background: var(--quinary);
    width: 150px;
    height:100%;
    left:0;
    top:0;
    position: absolute;
}
.content{
    background: var(--primary);
    width: 1000px;
    margin-left:160px
}
.content-footer-left{
    float: left;
    position: relative;
    width:50%;
    top:0;
    left:0
}
.content-footer-right{
    float: left;
    position: relative;
    width:50%;
    top:0;
    /* left:50% */
}
.pick{
    background: var(--secondary);
    /* height:50px */
}
.ban{
    background: var(--quaternary);
    /* height:50px */
}
.rightbar{
    background: var(--quinary);
    width: 300px;
    height:100%;
    margin-left:1170px;
    top:0;
    position: absolute;
    text-align: center;
}
.rightbar-title{
    background: var(--primary);
    color: white;
}
.rightbar-content{
    height: 100px;
    border: 1px solid white; 
}
.right-sect-title{
    background: white;
}
#hero_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
    /* background-color: white; */
}
.hero_list_highlight{
    /* margin: 0px 0px 0px 0px; */
    background-color: var(--quinary);
    border-color: black !important;
    /* border: 1px solid white; */
}
#htest{
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    height: auto;
    /* overflow: hidden; */
}
.advant_lists{
    list-style-type: none
}
.advant_lists li {
    /* 
    padding: 1px;
    width: 40px; height: 40px;
    font-size: 4em; */
    display: inline;
    /* width: 200; */
    /* float: left; */
    /* padding: 40px; */
    text-align: center;
    padding: 0;
    margin: 0;
}
span.clear { clear: left; display: block; }
#hero_list li {
    margin: 8px 8px 8px 8px;
    border: 1px solid;
    /* padding: 1px; */
    float: left;
    /* width: 40px; 
    height: 40px;
    font-size: 4em;
    text-align: center; */
}
#sorters, #notused { list-style-type: none; margin: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 143px;}
#sorters li, #notused li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }

.graphs{
    width:250px;
}

.pickban{
    /* list-style-type: none;
    margin: 0; */
    /* float: left; */
    /* margin-right: 0px;
    background: #eee; */
    padding: 0;
    height:80px;
    /* background: darkturquoise; */
    /* width: 143px;
    text-align: center; */
}

.pickban li {
    /* 
    padding: 1px;
    width: 40px; height: 40px;
    font-size: 4em; */
    display: inline;
    /* width: 200; */
    /* float: left; */
    /* padding: 40px; */
    text-align: center;
    padding: 3px;
    margin: 3px 3px 3px 0;
}

.hero-highlight{
    border: 1px solid red;
    width: 40px;
    height: 40px;
    background-color: lightblue;
}

.content-footer-left, .content-footer-right{
    /* column-count: 2;
    column-gap: 5px; */
    display: flex;
    color: white;
    text-align: center;
}

#hsearch {
    width:100%;
    background: grey;
    border: none;
    margin: 0;
    color: white;
}